.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.row{
    display: flex;
    width: 100%;
}

.wrapper{
    width: 400px;
    height: 500px;
    background-color: #000000;
}

input {
    height: 4em;
    display: flex;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5em;
    text-align: right;
    width: 375px;
  }

button{
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.6em;
    background-color: #262834;
    color: white;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


button:active{
    outline: none;
}

.orange{
    background-color: orange;
}